/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #F6F6F6;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 800;
$linkColor: #990000;
$linkColorHover: #CC0000;
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}
/*
section.present{
	background-color: white;
}*/

.two-floating-elements {
  img{
		max-height: 30vh!important;
	}
}

img{
	max-height: 55vh!important;
}

.logo{
	background-image: url("../../images/logo_mj_round.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 85px;
	height: 85px;
	width: 100%;
}

.footer{
	width: 100%;
	background-color: #DDDEDE;
	float:none;
	position:absolute;
	bottom:0px;
  	padding: 0 10px!important;
	font-size: 24px!important;
}
.nombre{
	text-align:right;
	float:right;
	margin-right: 5px;
}
.sitio{
	float:left;
	text-align:left;
	margin-left: 5px;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
